

body{
    margin: 0;
    padding: 0;
}

#main{
    display: flex;
    background-color: rgb(5, 34, 39);
    width: 100vw;
    /* height: 100vh; */
    
    margin: 0;
    padding: 0;
    text-align: center;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;

}
#Name{
    margin-top: 24px;
    color: rgb(255, 255, 255);
    font-size: 44px;
}
#top{
    position:fixed;

    background-color: #9ac2c9ff;
    flex-direction: column;
    display: flex;
    /* align-items: center; */
    width: 100%;
    height: 20%;
}

#menubar{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 55px;
    background-color: #9ac2c9ff;
}

#button{
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(255, 255, 255);
    align-items: center;
    width: 200px;
    height: 50px;
    /* width: 100%;
    height: 100%;    */


}
#buttonbar{
    display: flex;
    flex-direction: row;

    /* border: 1px solid rgb(255, 255, 255); */
    align-items: center;
    margin: auto;
    /* width: 100%;
    height: 100%;    */

}
#topgap{
    background-color: rgb(5, 34, 39);
    display: flex;
 
    width: 100%;
    height: 200px;

}
#camera{
    background-color: rgb(5, 34, 39);
    display: flex;
 
    width: 100%;
    height: 60px;
}

#button:hover{
    background-color: hsla(137, 28%, 79%, 1);
}

#button:active{
    background-color: rgb(198, 227, 207);
}
.button-text{
    /* font-size: 1.5rem; */
    color: rgb(255, 255, 255);
    font-size: 22px;
    margin: 0 auto;
}

.terinal{
    background-color: rgb(42, 73, 79);
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 550px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto; 
    border-radius: 20px;
    margin-bottom: 30px;
}

#circles{
    display: flex;
    /* flex-direction: row; */
    width: 100%;
    height: 35px;
    margin-top: 10px;
}
.indent{
    background-color: rgb(42, 73, 79);
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 1px;
    flex-direction: row;
    width: 20px;
    height: 20px;
    border-radius: 100px;
}
.button_red{
    background-color: rgb(125, 57, 57);
    display: flex;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    flex-direction: row;
    width: 20px;
    height: 20px;
    border-radius: 100px;
}
.button_red:hover{
    background-color: rgb(105, 20, 20);
}

.button_yellow{
    background-color: rgb(237, 206, 122);
    display: flex;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    flex-direction: row;
    width: 20px;
    height: 20px;
    border-radius: 100px;
}
.button_yellow:hover{
    background-color: rgb(216, 172, 51);
}

.button_green{
    background-color: rgb(111, 171, 135);
    display: flex;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 150px;
    flex-direction: row;
    width: 20px;
    height: 20px;
    border-radius: 100px;
}
.button_green:hover{
    background-color: rgb(40, 117, 71);
}
.text{
    margin-top: 10px;

}

a {
    font-size: 22px;
    margin: 0 auto;
    color: rgb(255, 253, 253);
    text-decoration: none;
}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

a:active{
    text-decoration: none;
}

.line{
    background-color: #9ac2c9ff;
    display: flex;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    height: 1px;
    margin-bottom: 20px;
}
.text{
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 22px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
}
#BST{
    display: flex;
    flex-direction: row;
    color: rgb(255, 255, 255);
    font-size: 18px;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-left: 120px;
    margin-right: 10px;
    margin-bottom: 10px; 
}
